ul{
    list-style: none;
    padding: 0px;
}

.dashboard li{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.dashboard li a{
    text-decoration:  none;
    color: black;
}

.drop-menu{
    padding-left: 15px;
}

.drop-menu li{
    padding-top: 3px;
    padding-bottom: 3px;
}

.manager-nav {

    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .nav-wrap{
    background-color: #071A1B;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 input.logout-btn {
    padding: 10px;
    margin: 10px;
    background-color: #A4303F;
    color: #dfe8eb;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
 input.logout-btn:hover {
    background-color: #882734;

  }